.hero {
	background-color: var(--bg-color-2);
}

.hero__container {
	display: flex;
	align-items: center;
	gap: 87px;
	max-width: 1921px;
	max-height: 850px;
}

.hero__info {
	flex: 0 0 560px;
}

.hero__img {
	z-index: var(--layer-1);
}

.hero__title {
	margin-bottom: 40px;
	font-family: var(--second-family);
	font-weight: 900;
	/* min-size 375px, max-size 1920px */
	font-size: clamp(1.5rem, 1.166rem + 1.42vw, 2.875rem);
	line-height: 103%;
	color: var(--text-color);
}

.hero__text {
	margin-bottom: 90px;
	font-family: var(--font-family);
	font-weight: 400;
	/* min-size 375px, max-size 1920px */
	font-size: clamp(0.75rem, 0.234rem + 2.2vw, 2.875rem);
	line-height: 130%;
	color: var(--text-color);
}

.hero__button {
	border-radius: 3px;
	padding: 10px 20px;
	width: 235px;
	height: 64px;
	background: var(--bg-color-button);
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 24px;
	color: var(--main-color);
}
